@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
.contenedor-superior{
    background-color: #222222;
    color: #F3F3F3;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-right: 100px;
    padding-left: 100px;
    height: 20px;
}
.lista-superior{
    list-style: none;
    display: flex;
    gap: 50px;
}
.contenedor-menu{
    height: 62px;
    background-color: #F0A83E;
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 50px;
}
.logotipo{
    font-weight: bold;
    color: #FFFFFF;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.texto-front{
    color: #3C2313;
}
.logo{
    height: 20px;
}
.lista-menu img{
    visibility: hidden;
  }
.lista-menu li:hover::before{
    content: url(../img/pawprint\ 1.png);
  }
.menu{
    color: #FFFFFF;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lista-menu{
    list-style: none;
    display: flex;
    gap: 50px;
}
.contenedor-baner{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    background-image: url(../img/bowl-and-pet-daities-on-green-background\ 1.png);
    background-size: cover;
    height: 700px;
}
.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 15px;
    margin-right: 10px;
}
.bienvenida{
    background-color: #FFFFFF;
    font-size: 30px;
    font-weight: 365px;
    padding: 10px;
    border-radius: 5px;
}
.producto-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px;
    font-size: 16px;
}
.producto-tipo{
    color: #F3F3F3;
    background-color: #F0A83E;
    padding: 18px;
    border-radius: 5px;
    font-size: 16px;
}
.producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px;
}
.destacados{
    font-size: 40px;
    align-self: center;
    color: #3C2313;
}
.link{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 30px;
    color: #666666
}
.imagen-producto{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.lista-producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FBFAF6;
    width: 265px;
    height: 312px;
    color: #3C2313;
    font-size: 15px;
    font-weight: bold;
}
.precio{
    color: #F0A83E;
    font-weight: bold;
}
.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
}
.titulo-contacto{
    font-size: 25px;
    color: #3C2313;
    font-weight: bold;
}
.cajaformulario{
    display: flex;
    font-weight: 300;
}
.caja{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 50%;
    padding: 10px 10px 10px;
}
.nombreformulario{
    color: #FFFFFF;
    background-color: #3C2313;
    margin: 10px;
    padding: 15px;
    font-size: 13px;
    font-weight:bold ;
    border-radius: 15px;
    width: 340px;
    height: 40px;
}

input:focus {
    background-color:#F0A83E;
}

.boton{
    display: flex;
    gap: 10px;
}
.resetear{
    color: #FFFFFF;
    background-color: #8A8787;
    width: 110px;
    height: 40px;
    border-radius: 15px;
    padding-top: 10px;
    padding-left: 24px;
}
.enviar{
    color: #FFFFFF;
    background-color:#F0A83E ;
    width: 110px;
    height: 40px;
    border-radius: 15px;
    padding-top: 10px;
    padding-left: 34px;
    cursor: pointer;display: inline-block;
   
}

.enviar:hover { 
    background: #001D2D; 
    color: white; 
} 
.enviar:active { 
    background: #001D2D; 
    color: white; 
} 
.suscripcion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    background-color: #F0A83E;
    padding: 15px;
    flex-direction: row;
}
.novedades-suscripcion{
    display: flex;
    align-items: center;
    gap: 20px;
}
.mensaje{
    font-size: 20px;
    font-weight: bold;
}
.correo-suscripcion{
    display: flex;
    gap: 10px;
}
.correo{
    color: #A0A0A0;
    background-color: #FFFFFF;
    font-size: 9px;
    border-radius: 15px;
    width: 271px;
    height: 40px;
    padding-top: 15px;
    padding-left: 10px;
}
.boton-suscripcion{
    background-color: #3C2313;
    font-size: 9px;
    width: 70px;
    height: 34px;
    border-radius: 15px;
    padding-top: 12px;
    padding-left: 12px;
}
.pie-pagina{
    color: #FFFFFF;
    background-color: #3C2313;
    display: flex;
    justify-content: space-between;
  
}
.informacion{
    display: flex;
    align-items: center;
    padding-left: 80px;
    padding-top: 25px;
}
.imagen-logo{font-weight: bold;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-top: 90px;
    padding-right: 80px;
}
.gato-perro{
    color: #F0A83E;
}
.font-logo-final{
    color: #FFFFFF;
}
.texto-informacion{
    color: #FFFFFF;
    padding-left: 30px;
}
.texto1{
    font-size: 20px;
    font-weight: bold;
}
.texto2{
    font-size: 10px;
}
.derechos{
    display: flex;
    justify-content: center;
    background-color: #222222;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 10px;
    height: 20px;
    padding-top: 5px;
}


    @media screen and (max-width: 480px){
.imaagen-producto {
    flex-direction: column;
   
}
}